<header>
    <div>
        <a href="#" routerLink="/">
            <img src="../../assets/mf-logo.png" alt="Microfocus">
        </a> 
    </div>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/">Home</a>
        </li>
        <li>
          <a href="#" routerLink="/about">About</a>
        </li>
        <li>
          <a href="#" routerLink="/services">Services</a>
        </li>
        <li>
          <a href="#" routerLink="/blog">Blog</a>
        </li> 
        <li>
          <a href="#" routerLink="/clients">Clients</a>
        </li>
        <li>
          <a href="#" routerLink="/contact">Contact</a>
        </li>
        <li>
          <a href="#" routerLink="/register">Register</a>
        </li>
      </ul>
    </nav>
  </header>