<section class="container">
    <div class="row">
        <div class="col-md-4" [ngStyle]="{'background-color':country==='IN'?'red':'green','padding':'20px'}">
            <div class="card">
                <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
        <div class="col-md-4" [ngClass]="{'bgMurali':country==='IN','p-5':country==='IN'}">
            <div class="card">
                <img class="card-img-top" src="../../assets/img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
    </div>
</section>
